<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Exito</title>
<link rel="stylesheet" href="bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body >

<div class="container my-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
        <nav class="navbar navbar-dark bg-primary"> 
        <h2 style="color:#FFFFFF" align="center">¡Felicidades producto guardado con exito!!!</h2>
		</nav>
		<br>
		<br>
		<div class="form-group">
				<h1 class="display-4">No se detecto problema al registrar tu producto, se ha guardado con exito.</h1>
				<br>
				<a href="/producto">Regresar</a>
			
		</div>

	
		</div>
	</div>
	</div>
</body>
</html>